#ejemplo{
	background-color: #3a0ca3;
	padding: 1%;
	width: auto;
}

#nmap_flags{
	width: auto;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
	color: white;
	text-decoration: none;
}

#h4_programas{
	color: #0A9396;
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
}