#ejemplo{
	background-color: #3a0ca3;
	padding: 1%;
	width: auto;
}

#h4_programas{
	color: #E9D8A6;
	font-weight: bold;
}

#comandos{
	font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
	color: white;
	padding: 1%;
	width: auto;
	list-style: none;
}