/*Archivo css de home.html*/
	/*Tamaño de logo.png, con diseño responsive*/
	#logo{
		width: 100%;
		height: auto;
	}
	/*Fondo la páigina negro*/
	body{
		background-color: 001219;
	}
	/*H1 de color blanco, centrado*/
	h1{
		text-align: center;
		color: white;
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
	}
	/*P de color blanco*/
	p{
		color: white;
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
	}

	/*Color de menu horizontal, texto centrado, tipo de letra, ancho de la bara*/
	.navegacion{
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
		background-color: #005F73;
		color: white;
		text-decoration: none;
	}

	.navegacion ul{
		list-style: none;
	}

	.menu > li{
		display: inline-block;
	}

	.menu > li > a{
		display: block;
		padding: 15px 20px;

	}
	
	.menu li a:hover{
		color: #CE7D35;
		transition: all .3s;
	}
	
	/* Submenu*/
	
	.submenu{
		position: absolute;
		background: #005F73;
		width: auto;
		visibility: hidden;
		opacity: 0;
		transition: opacity 1.5s;
		padding: 1%;
	}
	
	.submenu li a{
		display: block;
		padding: 10px;
		color: #fff;
	}
	
	.menu li:hover .submenu{
		visibility: visible;
		opacity: 1;
	}

	/*Color del boton*/
	a:link{
		color: white;
		text-decoration: none;
	}
	/*Color del boton ya visitado*/
	a:visited{
		color: white;
		text-decoration: none;
	}
	/*Color del boton cuando pasas por encima*/
	a:hover{
		color: #E9D8A6;
		text-decoration: none;
	}

	h3{
		color: white;
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
	}
	
	h4{
		color: white;
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
	}

	#redes{
		width: auto;
		font-family: Roboto,"Helvetica Neue",Helvetica,Arial,"Sans Serif";
		color: white;
		text-decoration: none;
		list-style: none;
	}